* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    color: aliceblue;
    background-color: #f4eae6;
}
/* Nav bar */
nav {
    font-family: "Josefin Sans", sans-serif;
    /* รอเปลี่ยนสี */
    background-color: #4297a0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    transition: all 1s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px #000000;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: default;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #f4eae6;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    position: relative;
    margin: 0 10px;
    padding: 0 2px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f4eae6;
    
}

nav ul li a:hover{
    /* รอเปลี่ยนสี */
    color: #1f3d4d;;
    transition: all 0.5s ease-in-out;
}

/* Header */
header {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 5rem ;
    padding-top: 3rem;
    padding-bottom: 1rem
}
/* section info */
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,400px);
    justify-content: center;
    padding: 1rem 5rem;
    gap: 1.5rem;
}

.card {
    position: relative;
    height: 500px;
    background-color: hsla(21, 41%, 83%, 0.816);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.picture img {
   width: 350px;
   height: 350px;
   object-fit: cover;
}

.name {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Mali", cursive;
    color: #1f3d4d;
}
.text1 {
    position: absolute;
    font-size: 20px;
    color: #1f3d4d;
    padding: 2rem;
    line-height: 1.6;
    opacity: 0; /* ข้อความ "text1" เริ่มต้นแสดง */
    transition: opacity 0.5s ease; /* ให้มีการเปลี่ยนแปลงของ opacity เมื่อคลิก */
    font-family: "Mali", cursive;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card.clicked .picture img ,.card.clicked .name{
    opacity: 0; /* ทำให้รูปหาย */
}
.card.clicked .text1 {
    opacity: 1; /* ทำให้ข้อความใน "text1" ปรากฏ */
}

/* Responsive */
@media screen and (max-width:1279px ) {
    .container{
        grid-template-columns: auto auto;
        padding: 10px 10px 1rem 10px;
        gap: 1rem ;
    }
}

@media screen and (max-width: 767px){
    .container{
        grid-template-columns: 300px;
    }

    .logo {
        font-size: 1.5rem;
    }

     nav ul {
        display: none;
        flex-direction: column;
        background-color: #9ef5ff; /*รอเปลี่ยนสี*/
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        padding: 1rem 0;
        z-index: 100;
        text-align: center;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 0.3s ease, transform 2s ease;
    }

    nav ul.active {
        display: flex;
        opacity: 0.9;
        transform: translateY(0);
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    nav ul li a {
        font-size: 16px;
    }

    header {
        font-size: 10px;
    }
    
    .card{
        padding: 10px;
        height: fit-content;
    }

    .picture img{
        width: 250px;
        height: auto;
    }

    .name , .text1{
        font-size: 13px;
    }

    .text1{
        padding: 1rem;
    }

    .name {
        margin-top: 10px;
    }

    
}